/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body { background-color: #e3350d; }

.my-25 { margin: .25em 0 !important; }
.my-15 { margin: 1.5em 0 !important; }
.capitalize { text-transform: capitalize !important; }

.header {
  padding-top: 1em;
  color: white;
  text-align: center;
}

.search {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.pokemon-card:hover { cursor: pointer; }

.type {
  padding: 5px;
  border-radius: 5px;
}

.bug { background-color: #729f3f; }
.dragon { background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%); }
.electric { background-color: #eed535; }
.fairy { background-color: #fdb9e9; }
.fighting { background-color: #d56723; }
.fire { background-color: #fd7d24; }
.flying { background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); }
.ghost { background-color: #7b62a3; }
.grass { background-color: #9bcc50; }
.ground { background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); }
.ice { background-color: #51c4e7; }
.normal { background-color: #a4acaf; }
.poison { background-color: #b97fc9; }
.psychic { background-color: #f366b9; }
.rock { background-color: #a38c21; }
.steel { background-color: #9eb7b8; }
.water { background-color: #4592c4; }

.modal-buttons {
  position: absolute;
  top: 0; right: 0;
}